@model IEnumerable<SportsManagementSystem.Models.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <p>
                <a class="btn btn-primary btn-sm" asp-action="Create"><i class="fas fa-plus-square"></i> New Game</a>
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DurationInHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RulesBooklet)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationInHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RulesBooklet)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
